<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	
	<!-- This is way of calling the Extent Report i.e. by wrapping the class within Listeners tag in testng.xml file. -->
	<listeners>
		<listener class-name="api.utilities.ExtentReportManager"></listener>
	</listeners>
	
  <test thread-count="5" name="Test">
    <classes>
	
	<!-- User Model -->
      <class name="api.test.UserTestsDataDriven"/>
     <!-- <class name="api.test.UserTests"/> --> 
    <!-- <class name="api.test.UserTestsViaProperties"/> -->
    
    <!-- Store Model -->
   <!-- <class name="api.test.StoreTestsViaProperties"/> --> 
    
    <!-- Pet Model -->
    <!-- <class name="api.test.PetTestsViaProperties"/> -->
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
